#service ul, #about ul  {
    transition: all 0.5s;
    display: block;
    padding: 0;
    margin: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
  
  #service:hover ul {
    height: 165px;
    visibility: visible;
  }
  
  #about:hover ul {
    height: 125px;
    visibility: visible;
  }

  #service ul li, #about ul li {
    display: block;
    background-color: black;
    border-bottom: 1px solid gray;
    text-align: center;
    margin-top: 0;
  }

  #service ul li:first-child, #about ul li:first-child {
    border-top: 3px solid rgb(245 158 11 / var(--tw-bg-opacity, 1));
  }
  
  #service .triangle, #about .triangle {
    visibility: hidden;
    transition: all 0.5s;
  }
  
  #service:hover .triangle, #about:hover .triangle {
    visibility: visible;
  }
  
  #service .triangle::before, #about .triangle::before {
      content: '';
      position: absolute;
      top: 9px; /* Ajusta según el diseño */
      left: 50%;
      transform: translateX(-50%);
      border-width: 6px; /* Tamaño del triángulo */
      border-style: solid;
      border-color: transparent transparent rgb(245 158 11 / var(--tw-bg-opacity, 1)) transparent; /* Triángulo apuntando hacia arriba */
      z-index: 10; /* Asegúrate de que se muestre sobre otros elementos */
  }
