#service ul, #about ul  {
    transition: all 0.5s;
    display: block;
    padding: 0;
    margin: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
  
  #service:hover ul {
    height: 125px;
    visibility: visible;
  }
  
  #service ul li {
    display: block;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ccc;
    text-align: center;
  }
  
  #service .triangle {
    visibility: hidden;
    transition: all 0.5s;
  }
  
  #service:hover .triangle {
    visibility: visible;
  }
  
  #service .triangle::before {
      content: '';
      position: absolute;
      top: 9px; /* Ajusta según el diseño */
      left: 50%;
      transform: translateX(-50%);
      border-width: 6px; /* Tamaño del triángulo */
      border-style: solid;
      border-color: transparent transparent white transparent; /* Triángulo apuntando hacia arriba */
      z-index: 10; /* Asegúrate de que se muestre sobre otros elementos */
  }